<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAAQNiVgabUaf49dpNDjIzB3SQZ33bOp8</string>
	<key>GCM_SENDER_ID</key>
	<string>832182128422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMart</string>
	<key>PROJECT_ID</key>
	<string>fluttermart-6dc3f</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermart-6dc3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832182128422:ios:06ca4a4aef8dcc26053be7</string>
</dict>
</plist>